@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
            <th>#</th>
            <th>Adı Soyadı</th>
            <th>Mail</th>
            <th>Cinsiyet</th>
            <th>Sil</th>
            <th>Düzenle</th>
            <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.Email</td>
            <td>@item.Gender</td>
            <td><a href="#" class="btn btn-outline-danger">SİL</a></td>
            <td><a href="#" class="btn btn-outline-success">Düzenle</a></td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<br />
<a href="/Register/Index" class="btn btn-block btn-outline-info btn-lg font-weight-medium auth-form-btn">Yeni Üye Kaydı</a>

