@model List<EmployeeTask>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
    int count = 0;
}

<h1>GÖREV LİSTESİ</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>PERSONEL</th>
        <th>BAŞLIK</th>
        <th>DURUM</th>
        <th>TARİH</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.AppUser.Name   @item.AppUser.Surname</td>
            <td>@item.Title</td>
            <td>@item.Status</td>
            <td>@item.Date.ToString("dd.MMM.yyy")</td>
            <td><a href="/EmployeeTask/DeleteEmployeeTask/@item.EmployeeTaskID"class="btn btn-outline-danger">SİL</a></td>
            <td><a href="/EmployeeTask/" class="btn btn-outline-success">GÜNCELLE</a></td>
            <td><a href="/Employee/EmployeeTasksDetail/Index/@item.EmployeeTaskID" class="btn btn-outline-dark">DETAYLAR</a></td>
        </tr>
    }
</table>
<a href="/EmployeeTask/EmployeeTaskAdd" class="btn btn-outline-info">YENİ GÖREV GİRİŞİ</a>

